<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'deal_app/css/style.css' %}">
    <title>Logged In</title>
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Dealazon</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/logout">Logout</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                          </div>
                        </li>
                      </ul>
                    </div>
                  </nav>
        <div class="jumbotron">
            <h1>Welcome, {{request.session.first_name}}!</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort?
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/deals/sort">Sort by Price</a>
                  <a class="dropdown-item" href="#">Edit Profile</a>
                  <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
              </li>
              <a class="btn btn-secondary" href="/deals/update_price">Get Current Prices</a>
            </ul>
          </div>
          <form  action="/deals/add_deal" method="POST">
            {% csrf_token %}
            <input style="display: inline-block; width: 200px;" class="form-control" type="text" name="url">
            <input style="display: inline-block;" class="btn btn-secondary" type="submit" value="Add">
          </form>
        </nav>

        {%if request.session.sort == 0%}
        
        {% for product in all_products %}
        <div class="card">
          <img class="card-img-top" src="{{product.img}}"alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{product.title}}</h4>
            <small><i>Posted on {{product.created_at}}</i></small>
            <p class="card-text">Original Price: {{product.price}}</p>
            <small><i>Last Checked on {{product.updated_at}}</i></small>
            <p class="card-text">Current Price: {{product.updated_price}}</p>
            {% if product.updated_price < product.price %}
              <a href="{{product.url}}" class="btn btn-danger">See Products</a>
            {%else%}
              <a href="{{product.url}}" class="btn btn-primary">See Products</a>
            {%endif%}
          </div>
        </div>      
        {% endfor %}

        {%elif request.session.sort == 1%}

        {% for product in sorted_price %}
        <div class="card">
          <img class="card-img-top" src="{{product.img}}"alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{product.title}}</h4>
            <small><i>Posted on {{product.created_at}}</i></small>
            <p class="card-text">Original Price: {{product.price}}</p>
            <small><i>Last Checked on {{product.updated_at}}</i></small>
            <p class="card-text">Current Price: {{product.updated_price}}</p>
            {% if product.updated_price < product.price %}
              <a href="{{product.url}}" class="btn btn-danger">See Products</a>
            {%else%}
              <a href="{{product.url}}" class="btn btn-primary">See Products</a>
            {%endif%}
          </div>
        </div>      
        {% endfor %}

        {%endif%}


        <div class="jumbotron">
          <h2>Current Deals</h2>
          {% for deal in deal_products %}
            <div class="card deal_card">
                <img class="card-img-top" src="{{deal.1}}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{deal.0}}</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>   
            {% endfor %}   
            <a class="btn btn-dark" href="/deals/current_deals">Get Current Deals!!</a> 
             </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>